! templates/ntp.j2
#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: False

{% if item.state == "present" %}

snmp-server host {{ item.server }} vrf {{ item.vrf | default("default") }} traps version 2c {{ item.community }} udp-port {{ item.udp_port }}

{% elif item.state == "removed" %}

no snmp-server host {{ item.server }} vrf {{ item.vrf | default("default") }} traps version 2c {{ item.community }} udp-port {{ item.udp_port }}

{% endif %}
